*.bak
*~
.idea
.idea/*
.DS_Store
.DS_Store/*
.history

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty


*.class
*.war
*.ear
.svn
.svn/*
*.svn
.DS_Store
*.bak
*~
*.iml
.iml
.classpath
.project
.settings
logs
logs/*
tmp
tmp/*
.history
*.pyc